* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    touch-action: manipulation;
    -ms-user-select: none;
        user-select: none;
}

/* Layout */
html.is-animating main {
    opacity: 0;
}

div.container {
    margin: auto;
    max-width: 1400px;
    padding: 0 30px;
    position: relative;
}

div.col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

main {
    font-family: "CircularStd", sans-serif;
    font-size: 0;
    margin: auto 0;
    padding: 30px 0;
    transition: opacity .3s;
}

/* Header */
header {
    background: #000;
    box-shadow: 0 0 10px 0 #00000080;
    font-family: "Roboto", sans-serif;
    font-size: 0;
    font-weight: 700;
    text-align: right;
}

header p {
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
}

header > div > div {
    display: inline-block;
    padding: 12px 0;
    width: 30px;
}
  
header > div > div:after, 
header > div > div:before, 
header > div > div div {
    background: #fff;
    border-radius: 1px;
    content: "";
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: transform .3s;
}

header > div > div:focus {
    pointer-events: none;
}

header > div > div:focus:after,
header > div > div:focus:before {
    transform: scaleX(0);
}

header nav {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0s .3s, opacity .3s 0s;
}

header > div > div:focus ~ nav {
    max-height: 100%;
    opacity: 1;
    transition: opacity .3s .3s;
}

header nav a {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    padding: 10px 0;
    text-decoration: none;
}

header nav a:last-child {
    padding-bottom: 15px;
    padding-right: 0;
}

/* Text styling */
main h1 {
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 700;
}

main p {
    font-size: 1.3rem;
    margin: 5px 0;
}

/* Home page */
div.home h1 {
    font-size: 5rem;
    line-height: 1;
}

div.home p {
    font-size: 3rem;
}

/* About me page */
div > section {
    margin-top: 30px;
}

div:first-child > section:first-child {
    margin-top: 0;
}

div.meter {
    background: #444;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: right;
}

div.meter div {
    background: #fff;
    color: #222;
    font-size: 15px;
    padding: 8px 10px;
}

/* Project page */
div > img {
    border-radius: 5px;
    margin: 30px 0 10px;
    width: 100%;
}

div:first-child > img {
    margin-top: 0;
}

/* Contact form */
form div label {
    display: block;
    font-size: 1.3rem;
    margin-top: 5px;
}

form div label * {
    background: #444;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    margin: 5px 0 15px;
    padding: 10px 15px;
    resize: none;
    width: 100%;
}

form div > input {
    background: #444;
    border-radius: 5px;
    border: none;
    color: #fff;
    float: right;
    font-family: inherit;
    font-size: 1.3rem;
    margin-top: 15px;
    padding: 10px 20px;
}

/* Tablet */
@media screen and (min-width: 768px) {
    /* Header */
    header > div > div {
        display: none;
    }

    header nav {
        max-height: none;
        opacity: 1;
        text-align: right;
    }

    header nav a {
        display: inline-block;
        padding: 15px 10px;
    }

    /* Home */
    div.home {
        text-align: center;
    }

    div.home h1 {
        font-size: 7rem;
    }
    
    div.home p {
        font-size: 5rem;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    /* Columns */
    div.col {
        padding: 0 50px;
        width: 50%;
    }

    div.col div.col {
        padding: 0 20px;
    }

    div.col:first-of-type,
    div.col div.col:first-of-type {
        padding-left: 0;
    }

    div.col:last-of-type,
    div.col div.col:last-of-type {
        padding-right: 0;
    }

    /* About me page */
    div > section:first-child {
        margin-top: 0;
    }

    /* Project page */
    div > img {
        margin-top: 0;
    }
}

/* Fonts */  
@font-face {
    font-family: "CircularStd";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/CircularStd-Book.woff2") format("woff2"),
         url("/assets/fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Roboto-Bold.woff2") format("woff2"),
         url("/assets/fonts/Roboto-Bold.woff") format("woff");
}