* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    touch-action: manipulation;
    -ms-user-select: none;
        user-select: none;
}

/* Header */
header {
    background: #222;
    box-shadow:
        0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 5px 0 rgba(0,0,0,.14),
        0 1px 10px 0 rgba(0,0,0,.12);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 0;
    font-weight: 700;
    padding: 0 18px;
    text-align: right;
}

header p {
    display: inline-block;
    font-size: 1.5rem;
    left: 18px;
    position: absolute;
    top: 12px;
}

header > div {
    display: inline-block;
    margin: 11px 0;
    width: 30px;
}
  
header > div:after, 
header > div:before, 
header > div div {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: transform .3s;
}

header > div:focus {
    pointer-events: none;
}

header > div:focus:after {
    transform: translateY(-8px);
}

header > div:focus:before {
    transform: translateY(8px);
}

header nav {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0s .3s, opacity .3s 0s, padding 0s .3s;
}

header > div:focus ~ nav {
    max-height: 100%;
    opacity: 1;
    padding-bottom: 6px;
    transition: opacity .3s .3s;
}

header nav a {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    padding: 9px 0;
    text-decoration: none;
}

/* Main styling */
main {
    font-family: "CircularStd", sans-serif;
    opacity: 1;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: overlay;
    transition: opacity .3s;
}

html.is-animating main {
    opacity: 0;
}

/* Text styling */
main h1 {
    font-family: "Roboto";
    font-size: 2.1rem;
    font-weight: 700;
}

main p {
    font-size: 1.2rem;
    margin: 6px 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
    header {
        text-align: center;
    }

    header > div {
        display: none;
    }

    header nav {
        max-height: 100%;
        opacity: 1;
        padding: 0;
        text-align: inherit;
    }

    header nav a {
        display: inline-block;
        padding: 15px 12px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}

/* Fonts */  
@font-face {
    font-family: "CircularStd";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/CircularStd-Book.woff2") format("woff2"),
         url("/assets/fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Roboto-Bold.woff2") format("woff2"),
         url("/assets/fonts/Roboto-Bold.woff") format("woff");
}